@page
@using BSE.Identity.Blazor.Client.Pages;
@using Microsoft.Extensions.Localization;
@using Microsoft.Fast.Components.FluentUI

@inject IStringLocalizer<Login> Localize

@model LoginModel


@{
    Layout = "_ModalLayout";
    ViewData["Title"] = "Log in";
}


<article class="content">

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-3">
                <div>
                    <div class="hstack">
                        <img src="/bse-logo-57x57.png" style="mx-auto" alt="My Logo">
                        <h2> @Localize["Txt_PageHeader"]</h2>
                    </div>
                    
                    <form id="account" method="post">

                        <p class="fs-4">@Localize["Txt_FormHeader"]</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-1">
                            <fluent-text-field name="Input.Email" appearance="outline" class="form-outline w-100" asp-for="Input.Email" placeholder="name@example.com">@Localize["Label_EmailAddress"]</fluent-text-field>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-1">
                            <fluent-text-field name="Input.Password" appearance="outline" type="password" class="form-outline w-100" asp-for="Input.Password" placeholder="password">Password</fluent-text-field>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-1">
                            <fluent-checkbox name="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</fluent-checkbox>

                        </div>
                        <div style="text-align: right">
                            <fluent-button id="login-submit" type="submit" appearance="accent">@Localize["Btn_Submit"]</fluent-button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- fluent ui scripts-->
    <script type="module" src="~/js/web-components.min.js"></script>
}
